/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  custom style
  ========================================
*/

$primary-color: #083451;
$secondary-color: #EFF1F2;
$text-color: #414141;
$secondary-color2: #0E69B1;

// /////media query
$on-palm:890px;
$on-laptop:        890px;

@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.2;
}


h1 {
  font-size: 2rem;

  @include media-query($on-laptop) {
      font-size: 3rem;
  }
  }
    h2 {
        font-size: 2rem;

        @include media-query($on-laptop) {
            font-size: 2.5rem;
        }
    }

h3 {
      font-size: 1.3rem;

      @include media-query($on-laptop) {
      font-size: 1.75rem;
      }
  }


    h4 {
        font-size: 1.3rem;
        color:$primary-color;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        @include media-query($on-laptop) {
        font-size: 1.5rem;
        }
    }


    h6 {
        font-size: 1.1rem;
        font-weight: 700;
        // text-transform: uppercase;
        // letter-spacing: 0.05rem;
        opacity: 0.8;
        @include media-query($on-laptop) {
        font-size: 1.4rem;
        }
    }


// grids
$col: 5.58%;
$gut: 3%;



@mixin grid($cnum) {
  width: ($col*$cnum)+($gut*(($cnum)-1));
  float: left;
  margin-right: $gut;
  margin-bottom: 3rem;
  box-sizing:border-box;
}

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col12 { 
    width:100%;
    margin-bottom: 1rem;
    padding: 1rem 1%;
}


.col4 { 
    width:100%;
    margin-bottom: 1rem;
    padding: 1rem 10%;
}

@media screen and (min-width: $on-palm) {
  
.col1 {
  @include grid(1);
}
.col2 {
  @include grid(2);
}

.col3 {
  @include grid(3);
  &:last-of-type {
    margin-right: 0;
    
  }

}

.col4 {
  @include grid(4);
   padding: 1rem 1% 1rem 5%;
  margin-bottom: 2rem;

    margin-right: 0;

}

.col5 {
  @include grid(5);
}

.col6 {
  @include grid(6);
  &:last-of-type {
    margin-right: 0;
    margin-bottom: 2rem;
  }
  position: relative;
}

.col7 {
  @include grid(7);
}

.col8 {
  @include grid(8);
  margin-right: 0;
}

.col9 {
  @include grid(9);
}

.col12 {
  @include grid(12);
}
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color:#414141;
  line-height: 1.6;

}

@mixin impt-font {
  font-family: 'Open Sans Condensed', sans-serif;;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

// header {
//   width:100%;
//   height: 600px;
//   background: linear-gradient(rgba(8,52,81,0.5), rgba(8,52,81,0.5)),url(images/mainphoto.jpg) no-repeat center center;
//   background-attachment: fixed;
//   background-size: cover; 
//   margin-bottom: 3rem;
// }

.headertop {
  width: 80%;
  vertical-align: bottom;
  margin:10px 10% 10px 10%;
  display:inline-block;
  vertical-align: middle;
  // font-weight: bold;
  // color:$primary-color;
  // text-decoration:none;

}

.headertop img, .headertop a, .headertop nav {
  vertical-align: middle;
}

.headertop a {
  display: none;
  font-weight: 700;
  color:$primary-color;
  text-decoration:none;
  padding-left:10px;
  // position:relative;
  // left:-10px;
  @include impt-font;
  font-size: 1.2rem;

}

@media screen and (min-width: $on-palm) {
.headertop a {
  display: inherit;
}
}
.nav {
  float:right;
  vertical-align: middle;
  position: relative;
  bottom:10px;
  li {
  display: inline-block;
  padding-left:5px;
}

  img {
    display: inline-block;
    padding-left:10px;
  }
}


/////////

header h1, h3, .popular {
  text-align: center;
}

.popular {
  clear:both;
  margin-top: 100px;
}

header h1 {
  font-size: 4em;
  color:white;
  max-width:90%;
  margin: 0 auto;
  line-height: 1.2;
  @include impt-font;
  letter-spacing: 0.15rem;
}

.main {
  padding-top: 170px;
  width:100%;
  height: 500px;
  background: linear-gradient(rgba(8,52,81,0.5), rgba(8,52,81,0.5)),url(images/mainphoto.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover; 
  margin-bottom: 3rem;

}

@media screen and (min-width: $on-palm) {
header h1 {
  font-size: 5em;
}

}

@media screen and (min-width: 1030px) {
  header h1 {
  font-size: 7em;
}
.main {
  padding-top: 150px;
}
}

header h3 {
 
  font-weight: bold;
  @include impt-font;
 color:$secondary-color;
}

@media screen and (min-width: $on-palm) {
header h3 {
  font-size: 1.25rem;
}

}

@media screen and (min-width: 1030px) {
  header h3 {
  font-size: 1.5rem;
}

}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

// @media screen and (min-width: $on-palm) {
// .wrapper {
//   width: 85%;
//   margin: 0 auto;
// }
// }


.middle {
  // margin:80px 10% 120px 10%;
  min-height:800px;
}


.headline h2 {
  color:$text-color;
  line-height: 1.2;
  font-weight: 700;
  // margin-bottom: 1rem;
}

.headline h3 {
  text-align: left;
  color: $secondary-color2;
  margin-bottom: 1rem;
}

#info {
  margin-top: 1.5rem;
 margin-bottom: 1rem;
 padding: 5px 0;
 vertical-align: super;
   span {
      vertical-align: super;
  }
  a {
    vertical-align: super;
  }
}

.headline img {
  height:25px;
  width:25px;
}

.headline span {

}

.headline a, .headline a:visited {
  background-color:#a3b3bf;
  color:white;
  display:inline-block;
  // margin-right: 10px;
  text-decoration: none;
  
  // padding:-10px 2px 2px 2px;
}

.headline a img, .headline a:visited img {
  background-color:#5e686f;
}

.headline a:hover {
  background-color:#106db3;
  color:white;
  display:inline-block;
}

.headline a:hover img {
  background-color:$primary-color;
}

.headline p {
  padding-bottom: 10px;
}

aside {
  color: #a3b3bf;
  margin-bottom: 50px;
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    float: right;
  }
}




.ads ul {
  margin:0 auto;
}

.ads li {
  display:inline-block;
  text-align: center;
  text-decoration: none;
  width: 33%;
  padding: 20px 0 60px;
  // padding:10px 10px 50px 10px;
}

.ads a {
  color:#a3b3bf;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
}

.ads span {
  float: right;
}

.ads h3 {
  padding-top: 10px;
  clear:both;
  color:#106db3;
}

.popular {
  clear:both;
  color: $secondary-color2;
  @include impt-font;
  margin:40px 10%;
}


.popularpost {
  width:100%;
  max-height:660px;
  box-sizing:border-box;
  overflow: hidden;

}

header nav {
  padding-top: 20px;
}

.popularpost section {
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
    background:$secondary-color;
    h3 {
      @include impt-font;
      color: $text-color;
      padding-top: 2rem;

    }

  }

@media screen and (min-width: 560px) {
.div1, .div2, .div3, .div4 {
  width:100%;
  height:330px;
  &:hover {
    opacity: 0.6;
  }
}
.popularpost section {
    float:left;
    width:50%;
    padding-left: 0;
    padding-right: 0;
    h3 {
      color:white;
      padding: 6rem 3rem;
    }
  }

.div1 {
  background:  linear-gradient(rgba(8,52,81,0.5), rgba(8,52,81,0.5)),url(images/pop-post-1.jpg) no-repeat center bottom;
  background-size: cover;
}

.div2 {
  background: linear-gradient(rgba(8,52,81,0.5), rgba(8,52,81,0.5)), url(images/pop-post-2.jpg) no-repeat center bottom;
  background-size: cover;
}

.div3 {
  background: linear-gradient(rgba(8,52,81,0.5), rgba(8,52,81,0.5)), url(images/pop-post-3.jpg) no-repeat center bottom;
  background-size: cover;
}

.div4 {
  background: linear-gradient(rgba(8,52,81,0.5), rgba(8,52,81,0.5)), url(images/pop-post-4.jpg) no-repeat center bottom;
  background-size: cover;
}

}

@media screen and (min-width: 1300px) {

.popularpost section {
    float:left;
    width:25%;
    padding-left: 0;
    padding-right: 0;
  }

}

.whoah {
  display:block;
  border-left: 2px solid #a3b3bf;
  font-size:30px;
  font-weight: 600;
  color: #106db3;
  padding:20px 20px;
}

.ads img {
  float: left;
  display: inline-block;
}

@media screen and (min-width: 1030px) {
.ads img {
  padding:0 34%;
}
}


.author2 {
  float: left;
  width: 100%;
  a {
    font-size: 0.9rem
  }
}



.lady {
  clear: both;
  background: linear-gradient(rgba(8,52,81,0.2), rgba(8,52,81,0.2)),url(images/travel.jpg) no-repeat center center;
  width: 100%;
  height: 300px;
}



.author3 {
  color:$primary-color;
  font-weight: bold;
  vertical-align: super;
}

.authorpic1 {
  background: url(images/author.jpg) no-repeat center bottom;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

#authorpic2 {
  background: url(images/author.jpg) no-repeat center bottom;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;

  span {
      vertical-align: super;
  }
  a {
    vertical-align: super;
  }
}

h4 {
  text-align: left;
  clear:both;
  padding-top: 40px;
  color:#106db3;
  padding-bottom: 5px;
}

.link a, .link a:visited {
  background:white;
  color:#a3b3bf;

}
.link a:hover {
  background-color:white;
  color:$primary-color;
}

footer {
  padding: 30px 10%;
  width:100%;
  background: $primary-color;
  clear:both;
  color:#a3b3bf;
  font-size:0.9em;
  overflow: hidden;
  li {
    margin-left: 10px;
  }
}

footer a {
  text-decoration: none;
  color:#a3b3bf;
}

footer .nav {
  margin: 0 auto;
  max-width: 60%;
  margin-top:-25px;
}

footer img, footer span {
  display: inline-block;
  margin:0 auto;
  max-width:80%;
  vertical-align: middle;
  padding-right: 20px;
}

@media screen and (min-width: 1030px) {
  footer img, footer span {
  display: inline-block;
}
}

.social {
  a {
    display: inline-block;
    height:26px;
    margin-right: 10px;
  span {
   line-height: 26px;
   display: inline-block;
   padding: 0 10px;
   position: relative;
   bottom: 7px;
  }
  }
}

// * {
//   border: 1px solid red !important;
// }
